<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="COVID 19 Visualisation for NSW Patients at 1st April 2019">
      <figure class="project__pic">
        <a href="https://github.com/CBDRH/EpiModel-COVID-19-resources" target="_blank">
          <img src="{{site.baseurl}}/img/featured/COVID19/deces_covid19_nsw_2020-04-01.gif" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/CBDRH/EpiModel-COVID-19-resources" target="_blank">COVID 19</a>
        </div>
        <p>A COVID-19 incidence animation map for NSW Australia adapted from  code from
        <a href="http://r.iresmi.net/2020/04/01/covid-19-decease-animation-map/" target="_blank"> Par michael</a>  .</p>
      </figcaption>
    </div>


</section>
